[Desktop Entry]
Name=runimageprocessing
Comment=Describe your script here
Exec=/home/pi/421_521_final_project/GUI/toastGUI/runimageprocessing.sh
Terminal=false
Type=Application
